{% extends "::base.html.twig" %}

{% block title %}
  {{ 'page.titre.ajout'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>{{ 'page.titre.ajout'|trans }}</h2>
  {{ include("GenericsCoreBundle:Admin:page_form.html.twig") }}
{% endblock %}