/app/config/parameters.yml
/build/
/phpunit.xml
/var/
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
/app/config/parameters_en_ligne.yml
clear_cache_full.sh
clear_cache_prod.sh
