{% extends "::base.html.twig" %}

{% block body %}
	<div class='corps_article'>
		<h1 style='text-align:center'>{{ page.titre }}</h1>
		<hr />
		<div class='mon_texte'>
			{{  page.texte|raw }}
		</div>
	</div>
{% endblock %}