{% if is_granted("ROLE_ADMIN") %}
    <button class="moinsPlusNote" id="{{ biblio.id }}">
        <span class="glyphicon glyphicon-minus" id="note-moins" aria-hidden="true"></span>
    </button>
    <span class="la_note_{{ biblio.id }}">{% include "AxiaUserBiblioBundle:Fragments:frag_num_note.html.twig" %}</span>
    <button class="moinsPlusNote" id="{{ biblio.id }}">
        <span class="glyphicon glyphicon-plus" id="note-plus" aria-hidden="true"></span>
    </button>
{% else %}
    <span class="la_note_{{ biblio.id }}">{% include "AxiaUserBiblioBundle:Fragments:frag_num_note.html.twig" %}</span>
{% endif %}