<p class="text-success text-capitalize text-center text-title">
    <a href="{{ element.fiche }}" target="_blank">{{ element.titre }}</a>
</p>
{% include "AxiaUserBiblioBundle:Fragments:frag_edition.html.twig" %}