<nav class="navbar navbar-inverse nav-interne">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a id="all">Tout Voir</a></li>
            <li class=""><a id="collection">Ma Collection</a></li>
            <li class=""><a id="a_voir">A Voir</a></li>
            <li class=""><a id="a_venir">A Paraitre</a></li>
            <li class=""><a id="a_l_affiche">A l'Affiche</a></li>
            <li class=""><a id="dvd">Sortie en DVD</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="form-inline form-search">
                <div class="form-group">
                    <input type="search" class="form-control" id="search" placeholder="recherche par titre">
                </div>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true">
                    </span>
                </button>
            </li>
        </ul>
    </div>
</nav>

<div class="lst_biblio">
    {% include "AxiaUserBiblioBundle:Liste:liste_Film.html.twig" %}
</div>
<script src="{{ asset('bundles/axiauserbiblio/parts_liste.js') }}"></script>