<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-bookmark"></i>{{ 'core.social'|trans}}</h3>
</div>
<div class="panel-body reseaux_sociaux">
    <p>
        <a target='_blank' href='https://twitter.com/uccellounet'>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a target='_blank' href='https://www.linkedin.com/in/beno%C3%AEt-guelin-51947a10b?trk=hp-identity-name'>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a target='_blank' href='https://github.com/AxiaOlvenkis'>
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
    </p>
</div>