{% extends "::base_admin.html.twig" %}

{% block page_content %}
    <h1>Synchronisation avec Lart'Moukis - Ajouter</h1>
    <p>
        {% for type in types %}
            <button class="type" id="{{ type.libelle }}">{{ type.libelle }}</button>
        {% endfor %}
    </p>
    <div class="parts"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/axiarecup/recup.js') }}"></script>
{% endblock %}
