{% extends "::base.html.twig" %}

{% block body %}
    {% include "AxiaUserBiblioBundle:Biblio:menu.html.twig" %}
    <div class="biblio">
        {{ render(controller("AxiaUserBiblioBundle:Affichage:accueil")) }}
    </div>
{% endblock %}