<nav class="navbar navbar-inverse bibliotheque">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#Accueil">Bibliothéque</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#Accueil" id="Accueil">Accueil</a></li>
            {% for type in types %}
                <li><a href="#{{ type.libelle }}" id="{{ type.libelle }}">{{ type.libelle }}</a></li>
            {% endfor %}
            <li><a href="#Course" id="Course">Liste de Course</a></li>
        </ul>
    </div>
</nav>
<script src="{{ asset('bundles/axiauserbiblio/parts.js') }}"></script>